$title: #1391CE;
$text: #4F4F4F;

%title-inter{
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}

%text{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
